body {
    background-color: rgb(140, 23, 23);
    display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

.nav_bar {
    display: flex;
    background-color: rgb(255, 188, 60);
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin: 0em;
    border: 1px solid rgb(44, 48, 46);
}

.logo {
    height: 80px;
    width: auto;
}

.navbar_links {
    display: flex;
    flex: 1;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

hr {
    border-top: 4px solid rgb(44, 48, 46);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.dripPic {
    height: 200px;
    width: auto;
    display: block;
    position: fixed;
}

.socialmedia {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.twitter {
    height: 50px;
    width: auto;
}

.facebook {
    height: 55px;
    width: auto;
}

.instagram {
    height: 45px;
    width: auto;
}

.news-title {
    font-family: 'Rock Salt', cursive;
    font-size: 40px;
}

.youTube-story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.artAuction-story {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; 
}

.fashion-story {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.artAuction-story__picContainer {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
}

.artAuction-story__pic {
    height: auto;
    width: 40%;
}


.fashion-story__picThree {
    height: auto;
    width: 32%;
    display: inline-block;
}

.fashion-story__picTwo {
    height: auto;
    width: 32%;
    display: inline-block;
}

.fashion-story__picOne {
    height: auto;
    width: 32%;
    display: inline-block;
}

.quoteArea {
    display: flex;
    flex-direction: row-reverse;
}

.quote {
    flex-basis: 60%;
}