body {
    background-color: rgb(140, 23, 23);
    display: flex;
    flex-direction: column;
}

.nav_bar {
    display: flex;
    background-color: rgb(255, 188, 60);
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin: 0em;
    border: 1px solid rgb(44, 48, 46);
}

.logo {
    height: 80px;
    width: auto;
}

.navbar_links {
    display: flex;
    flex: 1;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
}

hr {
    border-top: 4px solid rgb(44, 48, 46);
    border-bottom: transparent;
    border-left: transparent;
    border-right: transparent;
}

.dripPic {
    height: 200px;
    width: auto;
    display: block;
    position: fixed;
    margin-top: 75px;
}

.socialmedia {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.twitter {
    height: 50px;
    width: auto;
}

.facebook {
    height: 55px;
    width: auto;
}

.instagram {
    height: 45px;
    width: auto;
}

h1 {
    font-family: rock salt;
    font-size: 40px;
}


.quote {
    font-family: quicksand;
    text-emphasis: bold;
    border: 1px;
    border-color: rgb(255, 188, 60);
}

.personalLife {
    font-family: quicksand;
    font-size: 18px;
}

.personalLife__childhoodbox {
    display: block;
    margin-left: 12%;
    margin-right: 15%;
    margin-bottom: 10%;
}

.personalLife__childhood {
    /*
    height: 300px;
    margin-left: 25px;
    margin-right: 225px;
    padding: 10px;
    */
    float: left;
    position: relative;
}

.personalLife__adulthoodbox {
    display: block;
    margin-left: 12%;
    margin-right: 15%;
    margin-bottom: 12%;
}

.personalLife__youngpic {
    height: auto;
    float: right;
    width: 200px;
    padding: 10px;
} 

.personalLife__strugglebox {
    display: block;
    margin-left: 12%;
    margin-right: 15%;
}
.personalLife__adulthood {
    /* height: 300px;
    margin-left: 25px;
    margin-right: 225px;
    margin-bottom: 100px;
    padding: 10px; */
    float: right;
    position: relative;
}

.personalLife__sonpic {
    
    height: auto;
    float: left;
    width: 350px;
    padding: 10px; 
  
}

.personalLife__struggles {
    /*
    height: 300px;
    margin-left: 25px;
    margin-right: 225px;
    margin-bottom: 100px;
    padding: 10px; */
    float: right;
    position: relative;
}

.personalLife__weddingpic {
    height: auto;
    float: left;
    width: 275px;
    padding: 10px;
}

.personalLife__hobbypic {
    height: 350px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}



